<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<table border ="1">
  

<tr>
  <td class="events">
    <span class="content"><%=event.name %></span>
  </td>
  <td>
    
  <td class="events">
    <span class="content"><%=event.text %></span>
  </td>
  
  <td class="events">
    <span class="content"><%=event.date %></span>
  </td>
  <td>
    <span class="timestamp">
      Posted <%= time_ago_in_words(event.created_at) %> ago.
    </span>
  </td>
</tr>
</table>